// // Button styles
.wp-block-button {
  .wp-block-button__link {
    @extend .btn, .shadow;

    &:hover {
      background-color: $primary;
    }

    &.is-style-secondary {
      &:hover {
        background-color: $secondary;
      }
    }

    &.is-style-outline {
      padding: $spacer * 0.4 $spacer * 1.4;

      &:hover {
        background-color: $primary;
      }
    }
  }

  &.is-style-outline > .wp-block-button__link {
    padding: $spacer * 0.4 $spacer * 1.4;

    &:hover {
      background-color: $primary;
    }
  }
}
