.wp-block-video {
  video {
    @extend .rounded;
    vertical-align: middle;
  }
}

.wp-block-embed__wrapper {
  iframe {
    border-radius: $border-radius;
  }
}

.video-align-bottom {
  video {
    transform: translateY(6.1px);
  }
}
