footer {
  background-color: $primary;

  .footer {
    &__brands {
      .brand-img {
        @include media-breakpoint-down(lg) {
          &:nth-child(1) {
            object-fit: contain;
            height: 4rem;
          }
          object-fit: contain;
          height: 2.5rem;
        }
      }
    }
    &__content {
      @include media-breakpoint-up(lg) {
        border-left: 1px solid $white;
      }
    }

    &__list {
      line-height: 1.7;
    }

    &__buttons {
      margin-top: $spacer - 3.9;

      @include media-breakpoint-down(md) {
        margin-top: 0;
      } 
    }

    &__button {
      @extend .text-primary;
      transition: $btn-transition;
      font-size: $font-size-md;

      &:hover {
        transform: $btn-animate;
        box-shadow: $box-shadow;
      }
    }
  }
  i {
    font-size: $h3-font-size;
  }
}
