#form_search_location, #form_search_location_radius {
  @extend .mx-auto, .my-0, .w-75, .bg-white, .position-relative, .z-1;

  @include media-breakpoint-down(lg) {
    width: 100% !important;
  }

  .af-fields {
    .af-field {
      .af-label {
        @extend .border-0;

        label {
          font-size: $h3-font-size;
        }

        p {
          @extend .fs-6;

          display: inline-block;
          width: 70%;
          font-weight: $font-weight-light;

          @media (max-width: 767.98px) {
            width: 100%;
          }
        }
      }

      .af-input {
        .acf-input-wrap {
          width: 70%;
          input[type='text'] {
            border-radius: $border-radius !important;
            font-size: $h6-font-size;

            &:focus {
              border-color: $secondary;
              box-shadow: none;
            }

            @media (max-width: 320px) {
              font-size: $font-size-sm;
            }
          }

          @media (max-width: 767.98px) {
            width: 100%;
          }
        }

        .acf-input-prepend {
          @extend .border-0,
            .position-absolute,
            .d-flex,
            .justify-content-end,
            .top-0,
            .end-0;
          transform: translate(0%, -65%);
          background: none;

          @include media-breakpoint-between(md, lg) {
            transform: translate(7%, -65%);
          }

          @media (max-width: 767.98px) {
            transform: translate(10%, -65%);
          }

          img {
            @extend .position-relative, .end-0;
            max-width: 100%;
            width: 60%;

            @media (max-width: 767.98px) {
              display: none;
            }
          }
        }
      }
    }

    .af-submit {
      @extend .p-0, .position-relative;

      .acf-button {
        @extend .fw-light, .position-absolute, .z-1;
        font-size: $h6-font-size;
        right: 15%;
        transform: translate(-131%, -129%);

        @include media-breakpoint-down(xxl) {
          transform: translate(-111%, -129%);
        }

        @include media-breakpoint-between(md, xl) {
          transform: translate(-105%, -129%);
        }

        @include media-breakpoint-down(md) {
          right: -24%;
          transform: translate(-129%, -129%);
        }

        @include media-breakpoint-down(sm) {
          transform: translate(-13%, -129%);
          right: 0%;
        }
      }
    }
  }
}
.homeForm {
  #form_search_location {
    transform: translateY(-50%);

    @media (max-width: 575.98px) {
      transform: translateY(-24%);
    }

    @include media-breakpoint-between(md, xxl) {
      transform: translateY(-38%);
    }
  }
}

// Background Primary
#searchform_secondary {
  #form_search_location {
    background-color: $primary !important;
    transform: none;

    .acf-fields {
      .af-submit {
        .acf-button {
          height: 39px;
          transform: translate(-132%, -133%);

          @include media-breakpoint-down(xxl) {
            transform: translate(-111%, -133%);
          }

          @include media-breakpoint-down(xl) {
            transform: translate(-107%, -133%);
          }

          @include media-breakpoint-down(lg) {
            transform: translate(-105%, -133%);
          }

          @include media-breakpoint-down(md) {
            transform: translate(-129%, -133%);
          }

          @include media-breakpoint-down(sm) {
            transform: translate(-13%, -133%);
          }
        }
      }

      .acf-field {
        label,
        p {
          color: $white !important;
        }

        .acf-input {
          .acf-input-prepend {
            img {
              background-repeat: no-repeat;
            }
          }
        }
      }
    }
  }
}

.searchform_bg_full {
  #form_search_location {
    @media (max-width: 575.98px) {
      transform: none;
    }

    .af-fields {
      .af-field {
        .acf-input-prepend {
          @include media-breakpoint-between(md, lg) {
            transform: translate(-1%, -65%);
          }

          @media (max-width: 767.98px) {
            transform: translate(10%, -65%);
          }
        }
      }

      .af-submit {
        .acf-button {
          height: 37px;
          transform: translate(-134%, -138%);

          @include media-breakpoint-down(xxl) {
            transform: translate(-114%, -138%);
          }

          @include media-breakpoint-down(xl) {
            transform: translate(-109%, -138%);
          }

          @include media-breakpoint-down(xl) {
            transform: translate(-108%, -138%);
          }

          @include media-breakpoint-down(md) {
            transform: translate(-132%, -138%);
          }

          @include media-breakpoint-down(sm) {
            transform: translate(-14%, -138%);
          }
        }
      }
    }
  }
}

.find-doctor-search-form {
  #form_search_location {
    .af-fields {
      .af-field {
        .acf-input-prepend {
          @include media-breakpoint-between(md, lg) {
            transform: translate(4%, -65%);
          }

          @include media-breakpoint-down(xl) {
            transform: translate(4%, -65%);
          }

          @media (max-width: 767.98px) {
            transform: translate(10%, -65%);
          }
        }
      }

      .af-submit {
        .acf-button {
          right: 17%;
          transform: translate(-132%, -134%);

          @include media-breakpoint-between(md, xl) {
            transform: translate(-97%, -134%);
          }

          @media (max-width: 767.98px) {
            right: 0%;
            transform: translate(-12%, -134%);
          }
        }
      }
    }
  }
}

#customSearch {
  @extend .shadow, .rounded, .px-sm-4, .px-md-5, .pb-3;

  .af-form {
    @extend .w-100, .shadow-none, .px-0;

    .af-fields {
      .af-field {
        @extend .px-0;

        .af-label {
          label {
            font-size: 2.2rem;
          }

          @include media-breakpoint-down(md) {
            label {
              font-size: 1.8rem;
            }

            p {
              width: 100%;
            }
          }
        }

        .af-input {
          .acf-input-prepend {
            transform: translate(0%, -110%);

            @include media-breakpoint-down(lg) {
              display: none !important;
            }
          }

          .acf-input-wrap {
            width: 81%;

            @include media-breakpoint-down(xxl) {
              width: 76.5%;
            }

            @include media-breakpoint-down(sm) {
              width: 100%;
            }
          }
        }
      }

      .af-field-radius {
        @extend .d-flex, .position-absolute;
        right: 10.2%;
        bottom: 0;

        @include media-breakpoint-down(xxl) {
          right: 12.5%;
        }

        @include media-breakpoint-down(lg) {
          right: 17.5%;
        }

        @include media-breakpoint-down(md) {
          right: 23.5%;
        }

        @include media-breakpoint-down(sm) {
          right: 23.5%;
          position: initial !important;
        }
      }

      .af-submit {
        button {
          right: 0;
          transform: translate(0%, -133%);
        }
      }
    }
  }
}
