.tab {
  .tab-img-box {
    img {
      min-height: 250px;
      object-fit: cover;
    }
  }
}

.wp-block-tabs {
  .nav-tabs {
    @extend .border-0;

    .nav-item {
      @extend .bg-secondary, .text-primary;
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }
    .active {
      @extend .bg-primary, .text-white, .border-primary;
    }
  }

  .tab-content {
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }
}

.accordionTabs {
  display: none;

  .accordion-item {
    .accordion-header {
      .accordion-button {
        color: $primary;
      }
    }
  }
}
